div > img {
    transition: 300ms;
}
div > img:hover {
    opacity: 0.7;
    cursor: pointer;
}

div {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
}

div,
section {
    box-sizing: border-box;
}

.music-container {
    position: relative;
    display: flex;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    max-height: 290px;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.album-cover {
    flex: 1 0 30%;
}

.album-cover img {
    width: 100%;
    height: 100%;
}

.arrow {
    position: absolute;
    top: calc(50% - 2.5em);
    background: rgba(255, 255, 255, 0.3);
    border: 0;
    width: 5em;
    height: 5em;
    cursor: pointer;
}

.arrow:hover {
    background: rgba(255, 255, 255, 0.5);
}

.arrow img {
    display: block;
    width: 20px;
    margin: 0 auto;
}

.arrow.left {
    left: -5em;
}

.arrow.right {
    right: -5em;
}

.music-player {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background: white;
    padding: 1em;
    text-align: center;
    width: 70%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.music-player__title {
    margin: 0 0 0.1em 0;
    max-height: 37px;
    overflow-y: auto;
}

.music-player__author {
    margin: 0 0 0.5em 0;
}

.music-bar {
    background: #efefef;
    stroke-width: 1;
    height: 8px;
    width: 100%;
}

.music-bar:hover {
    cursor: pointer;
}

.music-bar #length {
    width: 0%;
    background: #2196F3;
    height: 100%;
    transition: width linear 200ms;
}

.music-time {
    display: flex;
    flex-flow: row wrap;
}

.music-time__last {
    margin-left: auto;
}

.music-order {
    display: flex;
    flex-flow: row wrap;
}

.music-order__shuffle, .music-order__loop {
    width: 1.2em;
    height: 1.2em;
    opacity: 0.2;
    margin: 0.3em 0;
}

.music-order__shuffle.is-loop, .music-order__loop.is-loop {
    opacity: 1 !important;
}

.music-order__shuffle.is-loop-one, .music-order__loop.is-loop-one {
    opacity: 1 !important;
}

.music-order__shuffle {
    margin-left: auto;
}

.music-control {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 2em;
}

.music-control__play {
    width: 3em;
    height: 3em;
    margin: 0 1em;
}

.music-control__backward, .music-control__forward {
    width: 1.5em;
    height: 1.5em;
}

@media all and (max-width: 960px) {
    .c-containter {
        display: block;
        overflow: auto;
    }

    .music-container {
        flex-flow: column wrap;
        max-height: inherit;
        max-width: 500px;
        margin: 0 auto;
        overflow: auto;
    }

    .music-player {
        width: 100%;
        max-width: 100%;
    }

    .music-player__title {
        font-size: 1.2em;
    }

    .music-player__author {
        font-size: 1em;
    }

    .album-cover {
        position: relative;
        flex: 1 1 100%;
        max-width: 270px;
        max-height: 270px;
    }

    .arrow {
        position: absolute;
        top: calc(50% - 1.5em);
        width: 3em;
        height: 3em;
    }

    .arrow.left {
        left: 0;
    }

    .arrow.right {
        right: 0;
    }

    .music-control__play {
        width: 2.2em;
        height: 2.2em;
    }
}
/*
.marquee-wrapper {
    height: 50px;
    overflow: hidden;
    position: relative;
    width: 400px;
    white-space: nowrap;
}

.marquee-wrapper .marquee {
    display: inline-block;
    padding-left: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    -moz-animation: marquee-wrapper 10s linear;
    -webkit-animation: marquee-wrapper 10s linear;
    animation: marquee-wrapper 10s linear;
}

.marquee-wrapper .marquee:hover {
    animation-play-state: paused;
}

@-moz-keyframes marquee-wrapper {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes marquee-wrapper {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}

@keyframes marquee-wrapper {
    0%   {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
*/

