<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Music Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
  	<h1>Automatic Speech Recognition for music player</h1> 
	<div id="controls">
        <input type="text" id ="songResult" value="{{ song }}" disabled></input>
		<button id="recordButton">Record</button>
		<button id="stopButton" disabled>Stop</button>
	</div>
  
  	<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
	<!-- <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script> -->
    {% load static %}
    <script type="text/javascript" src="{% static 'app.js' %}"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'WebAudioRecorder.min.js' %}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

  </body>
</html>

